body {
  font-family: $main-font;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
