<form class='user-form' id='user-login-form'>
  <div>
    <!-- <h1 class="text">Sign In</h1> -->
    <div class='login-block'>
      <input type='email' id='email' placeholder='email' />
      <input type='password' id='password' placeholder='password' />
      <input type='submit' />
    </div>
  </div>
</form>
<form class='user-form-2' id='user-login-form-2'>
  <div class='login-block2'>
    <input type='text' id='key' placeholder='key' />
    <input type='text' id='value' placeholder='value' />
    <input type='submit' />
  </div>
</form>