<div class='error-container'>
  <p class='error-container__text'>Oops, film not found!</p>
  <img
    class='error-container__img'
    src='../images/optimized-jpg/error_404.jpg'
    width='512'
    height='512'
  />
</div>