
  {{#each this}}
   

    <div class="container__filter">
      <input class="filter__checkbox" type="checkbox" id="{{name}}" data-id='{{id}}'   >
      <label class="filter__label" for="{{name}}">{{name}}</label>
    </div>
  {{/each}}
