<button type='button' class='filter-btn js-choose-btn'>Choose genre</button>
<button type='button' class='filter-btn js-hide-btn visually-hidden'>Hide filter</button>
<button type='button' class='filter-btn js-reset-btn visually-hidden'>reset</button>
<ul class='genres-filters js-genres-filter visually-hidden'>
  {{#each this}}
    <li class='genres-filters__item' data-id='{{id}}'>{{name}}</li>
  {{/each}}
</ul>