<ul class='hero-buttons list'>
  <li class='hero-buttons__item list'>
    <button
      class='button button--primary hero-buttons__btn hero-buttons__btn--active'
      data-hero='watched'
      type='button'
    >Watched</button>
  </li>
  <li class='hero-buttons__item list'>
    <button
      class='button button--secondary hero-buttons__btn'
      data-hero='queue'
      type='button'
    >queue</button>
  </li>
</ul>