<div class='search-field'>
  <input
    type='text'
    name='searchQuery'
    placeholder='Search films'
    class='search-field__input js-search-field__input'
  />
  <i class='material-icons md-18'>
    search
  </i>
  <p class='search-field__error-text js-search-field__error-text'></p>
</div>