{{#each this}}
    <div class="film-strip__item carousel-cell">
      <img class="carousel-cell-image" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" class="strip-img" data-source="{{id}}">
    </div>
{{/each}}