{{#each this}}
<div class="film-strip__item" data-slider="{{@index}}" data-position="{{@index}}">

  <img class="strip-img" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" data-source="{{id}}">

</div>
{{/each}}