@mixin font($fw, $fs, $lh, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs, 2);
  letter-spacing: $ls;
}

@mixin transition($type) {
  transition: $type $duration $timing-function;
}
// пример подключения:
// @include font (500, 14px, 16px);
// @include font (500, 14px, 16px, 0.02em);

@mixin font2($fw, $fs) {
  font-weight: $fw;
  font-size: $fs;
}
