@mixin font($fw, $fs, $lh, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs, 2);
  letter-spacing: $ls;
}

// пример подключения:
// @include font (500, 14px, 16px);
// @include font (500, 14px, 16px, 0.02em);
