@mixin font($fw, $fs, $lh, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs, 2);
  letter-spacing: $ls;
}

@mixin transition($type) {
  transition: $type $duration $timing-function;
}

@mixin font2($fw, $fs) {
  font-weight: $fw;
  font-size: $fs;
}

@mixin is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
