<!-- <div class="filter">
  <button class="button-filter" data-filter="all">All</button>
  <button class="button-filter" data-filter="action">Action</button>
  <button class="button-filter" data-filter="adventure">Adventure</button>
  <button class="button-filter" data-filter="Animation">Animation</button>
  <button class="button-filter" data-filter="Comedy">Comedy</button>
  <button class="button-filter" data-filter="Crime">Crime</button>
  <button class="button-filter" data-filter="Documentary">Documentary</button>
  <button class="button-filter" data-filter="drama">Drama</button>
  <button class="button-filter" data-filter="family">Family</button>
  <button class="button-filter" data-filter="Fantasy">Fantasy</button>
  <button class="button-filter" data-filter="History">History</button>
  <button class="button-filter" data-filter="Horror">Horror</button>
  <button class="button-filter" data-filter="Music">Music</button>
  <button class="button-filter" data-filter="Mystery">Mystery</button>
  <button class="button-filter" data-filter="Romance">Romance</button>
  <button class="button-filter" data-filter="Science Fiction">Science Fiction</button>
  <button class="button-filter" data-filter="TV Movie">TV Movie</button>
  <button class="button-filter" data-filter="Thriller">Thriller</button>
  <button class="button-filter" data-filter="War">War</button>
  <button class="button-filter" data-filter="Western">Western</button>
</div> -->

<select class="filter-select" id="filter-genres" name="filter-genres">
  <option value>All</option>
  <option value="28">Action</option>
  <option value="12">Adventure</option>
  <option value="16">Animation</option>
  <option value="35">Comedy</option>
  <option value="80">Crime</option>
  <option value="99">Documentary</option>
  <option value="18">Drama</option>
  <option value="10751">Family</option>
  <option value="14">Fantasy</option>
  <option value="36">History</option>
  <option value="27">Horror</option>
  <option value="10402">Music</option>
  <option value="9648">Mystery</option>
  <option value="10749">Romance</option>
  <option value="878">Science Fiction</option>
  <option value="10770">TV Movie</option>
  <option value="53">Thriller</option>
  <option value="10752">War</option>
  <option value="37">Western</option>
</select>

<div class="filter-wrapper js-filter-wrapper"></div>
