<div class="filter">
  <button class="button-filter button-all" data-filter="all">All</button>
  <button class="button-filter button-drama" data-filter="drama">Drama</button>
  <button class="button-filter button-comedy" data-filter="comedy">Comedy</button>
  <button class="button-filter button-science" data-filter="science">Science</button>
  <button class="button-filter button-romance" data-filter="romance">Romance</button>
  <button class="button-filter button-crime" data-filter="crime">Crime</button>
  <button class="button-filter button-action" data-filter="action">Action</button>
  <button class="button-filter button-fantasy" data-filter="fantasy">Fantasy</button>
  <button class="button-filter button-documentary" data-filter="documentary">Documentary</button>
  <button class="button-filter button-musical" data-filter="musical">Musical</button>
</div>
