<!-- <fieldset class="genres-filters js-genres-filter"></fieldset> -->

<div class="filter-container">
  <div class="filter-box">
    <form>
      <div class="multiselect">
        <div class="selectBox">
          <select>
            <option>Choose genre</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div class="js-genres-filter checkboxes"></div>
      </div>
    </form>

    <div class="filter-btn-wropp">
      <button type="button" class="filter-btn-search filter-btn filter-buttons__btn">search</button>
      <button type="button" class="filter-btn-reset filter-btn filter-buttons__btn">reset</button>
    </div>
  </div>
</div>
