<nav class="header__nav navigation">
  <a class="logo link" href="./index.html" data-header="logo">
    <div class="scena scena--card">
      <div class="card">
        <svg class="logo__icon card__face" width="24" height="24">
          <use href="./images/SVG/symbol-defs.svg#icon-film"></use>
        </svg>
      </div>
    </div>
    <p class="logo__text">Filmoteka</p>
  </a>
  <ul class="site-nav navigation-list list">
    <li class="site-nav__item navigation__item current-link">
      <button class="site-nav__button js-home" data-header="home" type="button">Home</button>
    </li>
    <li class="site-nav__item navigation__item">
      <button class="site-nav__button js-my-library" data-header="myLiblary" type="button">
        my library
      </button>
    </li>
  </ul>
</nav>
<div class="hero__dynamic-container" data-hero="dynamicContainer"></div>
