<form class="search-form" id="search-form">
  <div class="search-field">
    <input
      type="text"
      name="searchQuery"
      placeholder="Search films"
      class="search-field__input js-search-field__input"
    />
    <span class="material-icons md-18 md-light.md-inactive"> search </span>
    <p class="search-field__error-text js-search-field__error-text"></p>
  </div>
</form>
<section class="wow slideInLeft">
  <ul class="hero-buttons list visually-hidden">
    <li class="hero-buttons__item">
      <button
        class="
          animate__animated animate__pulse animate__infinite
          button button--primary
          hero-buttons__btn hero-buttons__btn--active
        "
        data-hero="watched"
        type="button"
      >
        Watched
      </button>
    </li>
    <li class="hero-buttons__item">
      <button
        class="
          animate__animated animate__pulse animate__infinite
          button button--secondary
          hero-buttons__btn
          queue-btn
        "
        data-hero="queue"
        type="button"
      >
        Queue
      </button>
    </li>
  </ul>
</section>
<div class="hero-warning__box" data-header="dynamicContainer">
  <div class="js-warning header-warning"></div>
  <div class="js-search-results header-warning"></div>
</div>

<!-- Filter-genes -->
<div class="filters">
  <p class="filters-genres__text">Select movie genre</p>
  <fieldset class="genres-filters js-genres-filter"></fieldset>
  <div class="filter-btn-wropp">
    <button type="button" class="filter-btn-search filter-btn filter-buttons__btn">search</button>
    <button type="button" class="filter-btn-reset filter-btn filter-buttons__btn">reset</button>
  </div>
</div>
