    <div class="toolbar">
      <!-- Разметка переключателя темы -->
      <div class="theme-switch">
        <svg class="theme-switch__icon-sun" role="img" aria-label="Иконка солнца">
          <use href="./images/sprite.svg#sun"></use>
        </svg>

        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>

        <svg class="theme-switch__icon-moon" aria-label="Иконка луны">
          <use href="./images/sprite.svg#moon"></use>
        </svg>
      </div>
    </div>