.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  text-align: center;
  line-height: 30px;
  color: $accent-line;
  cursor: pointer;
  display: none;
}

.back_to_top:hover {
  color: $grey-color;
}

.back_to_top-show {
  display: block;
}
