// .filter {
//   display: flex;
//   justify-content: center;
//   max-width: 1042px;
//   margin: 0 auto;
//   margin-top: 30px;
//   margin-bottom: 30px;
// }

// .button-filter {
//   padding: 10px 20px;
//   margin-right: 15px;
//   cursor: pointer;
//   border-radius: 20px;
//   position: relative;
//   background-color: rgb(218, 222, 255);
//   transition: background-color 600ms linear;
// }

// .button-filter:last-child {
//   margin-right: 0;
// }

// .button-filter:active {
//   bottom: -2px;
// }

// .button-filter:hover,
// .button-filter:focus {
//   background-color: rgb(100, 123, 255);
// }

.filter-wrapper {
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    margin-top: 50px;
  }
}

.genres-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.genres-filters__item + .genres-filters__item {
  margin-left: 5px;
  cursor: pointer;
}

.genres-filters__item {
  padding: 2px 7px;
  margin-top: 3px;
  font-size: 16px;
  border: 1px solid #ff6b08;
  border-radius: 8px;
  transition: all 300ms ease;
}
// &.checked,
.container__filter.checkbox:checked,
.genres-filters__item:hover,
.genres-filters__item:focus {
  color: #ffffff;
  background-color: #ff6b08;
}

.filter-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: getFont-size__mob('nav-text');
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;

  cursor: pointer;
}
.filter-buttons__btn {
  width: 130px;

  margin: 0 10px 0;
  color: $grey-color;
  border: 1px solid $white-color;
  background-color: transparent;

  transition: color $btn-duration $timing-function, border $btn-duration $timing-function,
    background-color $btn-duration $timing-function, box-shadow $btn-duration $timing-function;

  @media screen and (min-width: $tablet) {
    width: 136px;
  }
}

.filter-buttons__btn:hover,
.filter-buttons__btn:focus,
.filter-buttons__btn--active {
  color: $white-color;
  border: 1px solid $accent-bg;
  background-color: $accent-bg;
  box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}

.container__filter {
  margin: 5px;
}

.filter-btn-wropp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  max-height: 30px;
}

.checkbox {
  appearance: none;
  position: absolute;
}
.label {
  display: inline-block;
}
.icon {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  margin-right: 5px;
}

.checkbox:checked + .icon {
  background-color: #ff6b08;
}

.filter-box {
  display: flex;
  justify-content: center;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}
