.modal__video {
  padding: 5px;
  position: absolute;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  left: 50px;
  top: 40px;
  font-size: 40px;
  color: red;
}

.modal {
  transition: all $duration $timing-function;
  padding: 24px 28px 20px;
  background: $white-color;
  min-width: 280px;
  height: 100vh;
  border-radius: 5px;
  margin: 15px;
  scrollbar-width: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
  &__close-button {
    padding: 5px;
    position: absolute;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    right: 13px;
    top: 20px;
    font-size: 26px;
    color: $accent-line;
  }

  &__container-poster {
    margin: 0 auto;
    width: 240px;
  }

  &__movie-poster {
    display: block;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  &__container-info {
    display: flex;
  }
  &__title-movie {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: $black-color;
  }

  &__list {
    min-width: 80px;
    margin-bottom: 20px;
    margin-right: 40px;
  }

  &__vote {
    padding: 1px 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: $accent-bg;
    border-radius: 5px;
    color: $white-color;
  }

  &__votes {
    padding: 1px 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: $accent-bg;
    border-radius: 5px;
    color: $white-color;
    padding: 1px 4px;
    background: $light-grey-color;
    color: $black-color;
  }

  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: $grey-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  &__item-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $black-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle-about {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: $black-color;
  }

  &__about {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    color: $black-color;
    margin-bottom: 20px;
    max-height: 80px;
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__container__button {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 15px;
    border: 1px solid $black-color;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 135px;
    max-height: 40px;
    text-transform: uppercase;
    background-color: transparent;
    transition: all $duration $timing-function;

    &-hover {
      transition: all $duration $timing-function;
      border: none;
      background: $accent-bg;
      color: $white-color;
    }
  }
}

.js-watched {
  margin-right: 10px;
}
@media screen and (max-width: 319px) {
  .js-watched {
    font-size: 1.3vh;
  }
}

@media screen and (min-width: 500px) and (max-width: $max-mobile) {
  .modal {
    width: 470px;
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    display: flex;
    align-items: flex-start;
    padding: 40px 30px 20px 30px;
    max-width: 730px;
    max-height: 500px;
    height: 100vh;
    border-radius: 5px;
    margin: 0px;

    &__video {
      left: 260px;
      top: 41px;
      font-size: 34px;
    }

    &__container-poster {
      min-width: 264px;
      max-height: 100%;
      margin-bottom: 0px;
    }

    &__container {
      margin-left: 40px;
    }

    &__movie-poster {
      max-height: 420px;
      margin-bottom: 0px;
    }

    &__about {
      max-height: 180px;
    }
    &__container__button {
      display: flex;
      justify-content: space-around;
    }
    &__button {
      min-width: 135px;
    }
    &__close-button {
      color: $black-color;
      right: 10px;
      top: 10px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .modal {
    padding: 50px 30px 30px 30px;
    max-width: 882px;
    max-height: 590px;
    &__close-button {
      color: $black-color;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $accent-line;
      }
    }

    &__video {
      left: 300px;
      top: 50px;
      color: #808080;

      &:hover,
      &:focus {
        color: red;
      }
    }

    &__movie-poster {
      width: 320px;
      max-height: 480px;
      cursor: pointer;
    }

    &__title-movie {
      font-size: 30px;
      line-height: 35px;
    }

    &__list {
      margin-right: 85px;
    }
    &__subtitle-about {
      margin-bottom: 20px;
    }
    &__about {
      max-height: 215px;
    }

    &__container__button {
      justify-content: flex-start;
    }
  }
  .modal__button {
    max-width: 135px;
    cursor: pointer;
  }
  .js-watched {
    margin-right: 15px;
  }
}

.title-movie-text-transform {
  text-transform: uppercase;
}

.modal__container__video {
  width: 80vw;
  height: 80vh;
}

.video__modal {
  width: 100%;
  height: 100%;
}

.modal__close-button-video {
  padding: 5px;
  position: absolute;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  right: -6px;
  top: -40px;
  font-size: 26px;
  color: rgb(241, 20, 20);
}

@media screen and (min-width: $tablet) {
  .modal__container__video {
    width: 90vw;
    height: 75vh;
    min-width: 730px;
  }

  .video__modal {
    width: 100%;
    height: 100%;
  }

  .modal__close-button-video {
    padding: 5px;
    position: absolute;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    right: -6px;
    top: -40px;
    font-size: 26px;
    color: $accent-line;
  }
}

@media screen and (min-width: $desktop) {
  .mobalbackground {
    background: rgba(100, 100, 100, 0.4);
    transition: all $duration $timing-function;
  }
  .opacity {
    transition: all $duration $timing-function;
    opacity: 0.3;
  }
  .modal__container__video {
    width: 85vw;
    height: 75vh;
    min-width: 882px;
  }

  .video__modal {
    width: 100%;
    height: 100%;
  }

  .modal__close-button-video {
    padding: 5px;
    position: absolute;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    right: -42px;
    top: -40px;
    font-size: 26px;
    color: $accent-line;
  }
}
