.modal {
  padding: 48px 25px 41px;
  background: $white-color;
  max-height: 750px;
  max-width: 450px;
  min-width: 280px;
  border-radius: 5px;
  margin: 15px;
  scrollbar-width: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__container-poster {
    margin: 0 auto;
    width: 240px;
  }

  &__movie-poster {
    display: block;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__container-info {
    display: flex;
  }
  &__title-movie {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: $black-color;
  }

  &__list {
    margin-bottom: 20px;
    margin-right: 40px;
  }

  &__vote,
  &__votes {
    padding: 1px 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: $accent-bg;
    border-radius: 5px;
    color: $white-color;
  }

  &__votes {
    padding: 1px 4px;
    background: $light-grey-color;
    color: $black-color;
  }

  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: $grey-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  &__item-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $black-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle-about {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: $black-color;
  }

  &__about {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: $black-color;
    margin-bottom: 20px;
    max-height: 80px;
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__container__button {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    padding: 11px 15px;
    border: 1px solid $black-color;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    max-width: 115px;
    text-transform: uppercase;
    background: $white-color;
    cursor: pointer;

    &:hover,
    &:focus {
      padding: 14px 15px;
      border: none;
      background: $accent-bg;
      color: $white-color;
    }
  }
}
.modal-close-button {
  padding: 5px;
  position: absolute;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  right: 13px;
  top: 20px;
  font-size: 26px;
  color: $accent-line;
}

// .js-watched {
//   padding: 6px 15px;

//   &:hover,
//   &:focus {
//     padding: 7px 16px;
//   }
// }

@media screen and (min-width: $tablet) {
  .modal {
    display: flex;
    padding: 40px 30px 20px 30px;
    max-width: 618px;
    max-height: 600px;
    border-radius: 5px;
    margin: 0px;

    &__container-poster {
      min-width: 264px;
      max-height: 374px;
      margin-bottom: 0px;
    }

    &__container {
      margin-left: 30px;
    }

    &__movie-poster {
      height: 374px;
      margin-bottom: 0px;
    }

    &__about {
      max-height: 260px;
    }
    &__container__button {
      display: flex;
      justify-content: space-between;
    }
    &__button {
      min-width: 135px;
      padding: 13px 16px;
    }
    &-close-button {
      color: $black-color;
      right: 10px;
      top: 10px;
      &:hover,
      &:focus {
        color: $accent-line;
      }
    }
  }
  .js-watched {
    padding: 0px 0px;
  }
}

@media screen and (min-width: $desktop) {
  .modal {
    padding: 50px 30px 30px 30px;
    max-width: 882px;
    max-height: 590px;

    &__movie-poster {
      width: 396px;
      height: 477.8px;
    }
    &__title-movie {
      font-size: 30px;
      line-height: 35px;
    }

    .modal__list {
      margin-right: 85px;
    }
    &__subtitle-about {
      margin-bottom: 20px;
    }
    &__about {
      max-height: 169px;
    }

    &__container__button {
      justify-content: flex-start;
    }
  }
  .modal__button {
    max-width: 135px;
  }
  .js-watched {
    margin-right: 15px;
  }
}

.title-movie-text-transform {
  text-transform: uppercase;
}
