:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body.light-theme {
  background-color: cornsilk;
  // background-image: url(../images/popcorn-2.jpeg);
  background-image: url(../images/popcorn-png.png);
  background-attachment: fixed;
  background-position: center;
  // background-repeat: no-repeat;
  color: #333333;

  // & .filter-btn-search {
  //   // color: #ff6b01;
  //   border: 1px solid cornsilk;

  //   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  //     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  // }
  // & .filter-btn-reset {
  //   // color: #ff6b01;
  //   border: 1px solid cornsilk;
  //   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  //     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  // }
  // & .filter-btn-reset:hover,
  // & .filter-btn-search:hover,
  // & .filter-buttons__btn:focus,
  // & .filter-buttons__btn--active {
  //   color: $white-color;
  //   border: 1px solid $accent-bg;
  //   background-color: $accent-bg;
  //   box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
  // }
}

body.dark-theme {
  background-color: #000000d6;
  // background-color: #585050;
  // background-color: $footer;
  background-image: url(../images/popcorn-png.png);
  // background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  color: #fff;

  // & .filter-btn-search {
  //   border: none;
  //   color: cornsilk;
  //   // border: 1px solid $accent-line;
  //   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  //     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  // }
  // & .filter-btn-reset {
  //   border: none;
  //   color: cornsilk;
  //   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  //     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  // }
  // & .filter-btn-reset:hover,
  // & .filter-btn-search:hover,
  // & .filter-buttons__btn:focus,
  // & .filter-buttons__btn--active {
  //   color: $white-color;
  //   border: 1px solid $accent-bg;
  //   background-color: $accent-bg;
  //   box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
  // }
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon-sun {
  color: #ff6b01;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__icon-moon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(39, 39, 39);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
@media screen and (max-width: 1024px) {
  .theme-switch__icon-sun {
    height: 20px;
    width: 20px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .theme-switch__icon-moon {
    height: 20px;
    width: 20px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .theme-switch__control {
    width: 58px;
    height: 26px;
  }

  .theme-switch__marker {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .theme-switch__icon-sun {
    height: 14px;
    width: 14px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .theme-switch__icon-moon {
    height: 14px;
    width: 14px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .theme-switch__control {
    width: 52px;
    height: 20px;
  }

  .theme-switch__marker {
    width: 14px;
    height: 14px;
  }
}
