.image-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-top: 10px;
}
.image-genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $accent-bg;
}
.js-gallery {
  list-style: none;
  padding: 0px;
}

@media screen and (min-width: $tablet) {
  .js-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: $desktop) {
  .js-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: $max-mobile) {
  .item {
    margin-bottom: 20px;
  }
}
.item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  justify-content: space-between;
  transition: transform 0.3s $timing-function;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.03);

  box-shadow: 0 0 10px rgba(213, 218, 218, 0.993);
}

@media screen and (min-width: $tablet) {
  .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: $desktop) {
  .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: 398px;
  max-height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.video-rating {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: $white-color;
  background-color: $accent-bg;
  border-radius: 5px;
}
.video-rating-low {
  background-color: red;
}
.video-rating-hight {
  background-color: green;
}
.pagination {
  display: flex;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

@media screen and (min-width: $tablet) {
  .pagination {
    margin-top: 50px;
  }
}

@media screen and (min-width: $desktop) {
  .pagination {
    margin-top: 50px;
  }
}
.pagNumber,
.pagDots {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: inline-block;
  text-align: center;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.25s $timing-function;
}

@media screen and (max-width: $max-mobile) {
  .pagDots {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: inline-block;
    text-align: center;
    min-width: 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.25s $timing-function;
  }
}
@media screen and (max-width: $max-mobile) {
  .pagNumber {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: inline-block;
    text-align: center;
    min-width: 28px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.25s $timing-function;
  }
}

.pagNumber:hover {
  transition-duration: $duration;
  background-color: $accent-bg;
  border-radius: 5px;
}

.arrowLeft,
.arrowRight {
  text-align: center;
  min-width: 28px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: $light-grey-color;
  background-position: center;
  transition: background-color 0.25s $timing-function;
}

@media screen and (min-width: $tablet) {
  .arrowLeft,
  .arrowRight {
    min-width: 40px;
    border-radius: 5px;
  }
}

.arrowLeft:hover,
.arrowRight:hover {
  transition-duration: $duration;
  background-color: $accent-bg;
  border-radius: 5px;
}

.arrowLeft {
  background-repeat: no-repeat;
  background-image: url('../../src/images/SVG/arrow-left.svg');
}
.arrowRight {
  background-repeat: no-repeat;
  background-image: url('../../src/images/SVG/arrow-right.svg');
}

.current {
  background-color: $accent-bg;
  border-radius: 5px;
}

.container_gallery {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: $tablet) {
  .container_gallery {
    // margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $desktop) {
  .container_gallery {
    // margin-top: 60px;
    margin-bottom: 60px;
  }
}
