@import '@pnotify/core/dist/BrightTheme.css';

.my-Library-notice{
font-size: 30px;
color:rgb(148, 32, 32);
};

// .my-Library-bg{
//   background-image: linear-gradient(90deg, rgba(112,87,71,1) 20%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(166,120,60,1) 80%),
//   url(../images/111.jpg);
//   background-repeat: no-repeat;
//   background-size:cover;
//   height: 100%;
// };
.empty-Library{
  display: block;
}

.lybrary-gallery {
  position: relative;
  // width: 280px;
  list-style: none;
  padding: 0px;
  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 768px) {
  .lybrary-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .lybrary-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    justify-content: center;
  }
}
.display-none {
display: none;
}
.error{
  position: fixed;
  top: 200px;
  right: 100px;
  }
