//.slider {
//  display: none;
//}
.slider-container {
  width: 100%;
  height: 100px;
  margin-bottom: 80px;
  position: relative;
  align-self: center;
}

.switcher-wrapper {
  //margin-top: 6.4%;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.arrow {
  font-weight: bold;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 30;
  &__next {
    right: 0;
  }
}

.film-strip {
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  top: 6%;
  //align-items: center;
  .film-strip__item {
    width: 20px;
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: 11;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.8, 0.5, 0.1, 1.02);

    h2 {
      font-size: 14px;
      display: flex;
      position: absolute;
      left: 50%;
      top: 5%;
      opacity: 0;
      color: orangered;
      text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
        0.6px 0px 0.6px rgb(14, 14, 114);
      transition: 0.32s cubic-bezier(1, 0.5, 0.2, 0.5);
      z-index: 0;
      pointer-events: none;
    }

    span {
      display: flex;
      width: 35px;
      font-size: 28px;
      display: flex;
      position: absolute;
      visibility: hidden;
      right: 50%;
      left: 50%;
      bottom: 5%;
      opacity: 0;
      color: orangered;
      text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
        0.6px 0px 0.6px rgb(14, 14, 114);
      transition: 0.3s cubic-bezier(1, 0.5, 0.2, 0.5);
      z-index: 0;
      //pointer-events: none;
      .false-image {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        position: absolute;
        translate: 50% 50%;
        z-index: 30;
      }
    }

    img {
      display: block;
      max-width: 100%;
      border-radius: 9px;
      z-index: 29;
    }

    &[data-position='0'] {
      width: 30%;
      left: 50%;
      z-index: 29;
      opacity: 1;
      h2 {
        color: #fff;
        left: 3%;
        top: 2%;
        opacity: 1;
        text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
          0.6px 0px 0.6px rgb(14, 14, 114);
        z-index: 30;
        pointer-events: none;
      }
      span {
        color: #fff;
        left: 3%;
        bottom: 2%;
        opacity: 0.4;
        text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
          0.6px 0px 0.6px rgb(14, 14, 114);
        z-index: 29;
        visibility: visible;
        pointer-events: auto;
        &:hover {
          opacity: 1;
          z-index: 30;
        }
      }
      .film-strip__play-video {
        left: calc(50% - 20px);
        bottom: 0.5%;
        font-size: 40px;
      }
      .film-strip__add-to-lib {
        left: calc(97% - 28px);
      }
    }

    &[data-position='1'],
    &:nth-child(n)[data-position='19'] {
      width: 20%;
      opacity: 1;
      z-index: 28;
      filter: brightness(0.7);
    }
    &[data-position='1'] {
      left: 27%;
    }
    &:nth-child(n)[data-position='19'] {
      left: 73%;
    }

    &[data-position='2'],
    &:nth-child(n-1)[data-position='18'] {
      width: 15%;
      opacity: 1;
      z-index: 27;
      filter: brightness(0.4);
    }
    &[data-position='2'] {
      left: 12.5%;
    }
    &:nth-child(n-1)[data-position='18'] {
      left: 87.5%;
    }

    &[data-position='3'],
    &[data-position='17'] {
      width: 13%;
      opacity: 0.5;
      z-index: 26;
      filter: brightness(0.3);
    }
    &[data-position='3'] {
      left: 10%;
    }
    &[data-position='17'] {
      left: 90%;
    }

    [data-position='4'],
    [data-position='16'] {
      left: 50%;
      opacity: 0;
      display: none;
      z-index: 25;
    }

    &[data-position='4'] {
      left: 8%;
    }
    &[data-position='16'] {
      left: 92%;
    }

    [data-position='5'],
    [data-position='6'],
    [data-position='7'],
    [data-position='8'],
    [data-position='9'],
    [data-position='10'],
    [data-position='11'],
    [data-position='12'],
    [data-position='13'],
    [data-position='14'],
    [data-position='15'] {
      left: 50%;
      display: none;
      opacity: 0;
      top: 50%;
      z-index: -1;
    }
  }
}
