.wrapper-icecream {
  font-family: Titan One, cursive;
  font-size: 28px;
  padding: 20px;
  color: #d41442;
  //display: flex;
  //flex-direction: column;
  text-align: center;
  text-align: center;
  //align-items: center;
  justify-content: center;
  background-color: #ffb8ca;
  //opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 18;

  height: 398px;
  max-height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.icecream-logo {
  display: box;
  margin-top: 20%;
  padding: 0;
  display: box;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  z-index: 18;
}
