@import './_ad-place';
@import './_icecream';

.banner {
  // display: block;
  position: relative;
  // background: red;
  background-color: #252525;
  width: 100%;
  height: 100%;
  //  display: block;
  width: 100%;
  height: 398px;
  max-height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.dice {
  width: 40px;
  height: 40px;
  top: 1%;
  left: 2%;
  position: absolute;
  color: #f3e8e0;
  text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
    0.6px 0px 0.6px rgb(14, 14, 114);
  z-index: 20;
}
