@import './_ad-place';
@import './_icecream';

.banner {
  display: box;
  position: relative;
  bacground: red;
  width: 100%;
  height: 100%;
}

.dice {
  width: 40px;
  height: 40px;
  top: 1%;
  left: 2%;
  position: absolute;
  font-size: 30px;
  text-shadow: 1.2px 0px 9px orangered, 0 1.5px 1px rgb(52, 52, 52),
    0.6px 0px 0.6px rgb(14, 14, 114);
  z-index: 20;
}
